In [1]:
import pandas as pd

hero_attribute = './Datasets/superhero-set/heroes_included_information.csv'
movie_data = './Datasets/movie_imdb_ratings_CC.csv'
movie_superhero_list = './Datasets/superhero_movies_data.csv'

attribute_df = pd.read_csv(hero_attribute)
movie_rating_sales_df = pd.read_csv(movie_data)
movie_superhero_df = pd.read_csv(movie_superhero_list)

In [2]:
movie_superhero_df.head()

   Date_Released Publisher Superhero_Name               Movie_Title
0           2008        DC         Batman           The Dark Knight
1           2008        DC       Punisher        Punisher: War Zone
2           2008    Marvel       Iron Man                  Iron Man
3           2008    Marvel           Hulk       The Incredible Hulk
4           2009    Marvel      Wolverine  X-Men Origins: Wolverine

In [3]:
movie_rating_sales_df.rename(columns={'Internet_Movie_Database_Rating':'Rating'},inplace=True)
movie_rating_sales_df.head()

,Unnamed: 0,Date_Released,Movie_Title,Rating,IMDB_Votes,Box_Office_Sales
0,0,2008,The Dark Knight,9.0/10,"2,029,721","$533,316,061"
1,1,2008,Punisher: War Zone,6.0/10,"56,730","$7,948,159"
2,2,2008,Iron Man,7.9/10,"842,429","$318,298,180"
3,3,2008,The Incredible Hulk,6.8/10,"388,957","$134,518,390"
4,4,2009,X-Men Origins: Wolverine,6.6/10,"429,641","$179,737,340"

In [4]:
del movie_rating_sales_df['Unnamed: 0']

In [5]:
movie_rating_sales_df.head()

   Date_Released               Movie_Title  Rating IMDB_Votes Box_Office_Sales
0           2008           The Dark Knight  9.0/10  2,029,721    $533,316,061
1           2008        Punisher: War Zone  6.0/10     56,730      $7,948,159
2           2008                  Iron Man  7.9/10    842,429    $318,298,180
3           2008       The Incredible Hulk  6.8/10    388,957    $134,518,390
4           2009  X-Men Origins: Wolverine  6.6/10    429,641    $179,737,340

In [6]:
merge1 = pd.merge(movie_superhero_df, movie_rating_sales_df, on = 'Movie_Title', how= 'outer')
merge1.head()

,Date_Released_x,Publisher,Superhero_Name,Movie_Title,Date_Released_y,Rating,IMDB_Votes,Box_Office_Sales
0,2008.0,DC,Batman,The Dark Knight,2008.0,9.0/10,"2,029,721","$533,316,061"
1,2008.0,DC,Punisher,Punisher: War Zone,2008.0,6.0/10,"56,730","$7,948,159"
2,2008.0,Marvel,Iron Man,Iron Man,2008.0,7.9/10,"842,429","$318,298,180"
3,2008.0,Marvel,Hulk,The Incredible Hulk,2008.0,6.8/10,"388,957","$134,518,390"
4,2009.0,Marvel,Wolverine,X-Men Origins: Wolverine,2009.0,6.6/10,"429,641","$179,737,340"

In [7]:
attribute_df.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,29,Ant-Man,Male,blue,Human,Blond,211,Marvel Comics,-,good,122
1,37,Aquaman,Male,blue,Atlantean,Blond,185,DC Comics,-,good,146
2,68,Batman,Male,blue,Human,black,188,DC Comics,-,good,95
3,105,Black Panther,Male,brown,Human,Black,183,Marvel Comics,-,good,90
4,148,Captain America,Male,blue,Human,blond,188,Marvel Comics,-,good,108

In [8]:
attribute_df.rename(columns={'name':'Superhero_Name'},inplace=True)
attribute_df.head()

,Unnamed: 0,Superhero_Name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,29,Ant-Man,Male,blue,Human,Blond,211,Marvel Comics,-,good,122
1,37,Aquaman,Male,blue,Atlantean,Blond,185,DC Comics,-,good,146
2,68,Batman,Male,blue,Human,black,188,DC Comics,-,good,95
3,105,Black Panther,Male,brown,Human,Black,183,Marvel Comics,-,good,90
4,148,Captain America,Male,blue,Human,blond,188,Marvel Comics,-,good,108

In [13]:
merge = pd.merge(merge1, attribute_df, on = 'Superhero_Name', how= 'left')
merge

,Date_Released_x,Publisher_x,Superhero_Name,Movie_Title,Date_Released_y,Rating,IMDB_Votes,Box_Office_Sales,Unnamed: 0,Gender,Eye color,Race,Hair color,Height,Publisher_y,Skin color,Alignment,Weight
0,2008.0,DC,Batman,The Dark Knight,2008.0,9.0/10,"2,029,721","$533,316,061",68.0,Male,blue,Human,black,188.0,DC Comics,-,good,95.0
1,2008.0,DC,Punisher,Punisher: War Zone,2008.0,6.0/10,"56,730","$7,948,159",532.0,Male,blue,Human,Black,183.0,Marvel Comics,-,good,90.0
2,2008.0,Marvel,Iron Man,Iron Man,2008.0,7.9/10,"842,429","$318,298,180",345.0,Male,blue,Human,Black,198.0,Marvel Comics,-,good,191.0
3,2008.0,Marvel,Hulk,The Incredible Hulk,2008.0,6.8/10,"388,957","$134,518,390",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009.0,Marvel,Wolverine,X-Men Origins: Wolverine,2009.0,6.6/10,"429,641","$179,737,340",719.0,Male,blue,Mutant,Black,160.0,Marvel Comics,-,good,135.0
5,2010.0,Marvel,Iron Man,Iron Man 2,2010.0,7.0/10,"642,092","$312,057,433",345.0,Male,blue,Human,Black,198.0,Marvel Comics,-,good,191.0
6,2011.0,Marvel,Ghost Rider,Spirit of Vengeance,NaN,NaN,NaN,NaN,279.0,Male,red,Demon,No Hair,188.0,Marvel Comics,-,good,99.0
7,2011.0,DC,Green Lantern,Green Lantern,2011.0,5.5/10,"250,387","$116,600,000",305.0,Male,brown,Human,Brown,188.0,DC Comics,-,good,90.0
8,2011.0,Marvel,Thor,Thor,2011.0,7.0/10,"661,810","$181,015,141",661.0,Male,blue,Asgardian,Blond,198.0,Marvel Comics,-,good,288.0
9,2011.0,Marvel,Captain America,Captain America: The First Avenger,2011.0,6.9/10,"641,472","$176,636,816",148.0,Male,blue,Human,blond,188.0,Marvel Comics,-,good,108.0
10,2012.0,DC,Batman,The Dark Knight Rises,2012.0,8.4/10,"1,366,558","$448,130,642",68.0,Male,blue,Human,black,188.0,DC Comics,-,good,95.0
11,2012.0,Marvel,Spider-Man,The Amazing Spider-Man,2012.0,7.0/10,"520,000","$262,030,663",622.0,Male,hazel,Human,Brown,178.0,Marvel Comics,-,good,74.0
12,2013.0,Marvel,Iron Man,Iron Man 3,2013.0,7.2/10,"672,550","$408,992,272",345.0,Male,blue,Human,Black,198.0,Marvel Comics,-,good,191.0
13,2013.0,Marvel,Thor,Thor: The Dark World,2013.0,7.0/10,"526,911","$206,360,018",661.0,Male,blue,Asgardian,Blond,198.0,Marvel Comics,-,good,288.0
14,2013.0,Marvel,Wolverine,The Wolverine,2013.0,6.7/10,"395,575","$132,550,960",719.0,Male,blue,Mutant,Black,160.0,Marvel Comics,-,good,135.0
15,2014.0,DC,Superman,Man of Steel,2013.0,7.1/10,"639,837","$291,021,565",646.0,Male,blue,Kryptonian,Black,191.0,DC Comics,-,good,101.0
16,2014.0,Marvel,Spider-Man,The Amazing Spider-Man 2,2014.0,6.6/10,"382,051","$183,277,573",622.0,Male,hazel,Human,Brown,178.0,Marvel Comics,-,good,74.0
17,2014.0,Marvel,Captain America,Captain America: The Winter Soldier,2014.0,7.8/10,"646,011","$228,636,083",148.0,Male,blue,Human,blond,188.0,Marvel Comics,-,good,108.0
18,2015.0,Marvel,Ant-Man,Ant-Man,2015.0,7.3/10,"482,910","$138,002,223",29.0,Male,blue,Human,Blond,211.0,Marvel Comics,-,good,122.0
19,2016.0,Marvel,Deadpool,Deadpool,2016.0,8.0/10,"802,733","$328,674,489",212.0,Male,brown,Mutant,No Hair,188.0,Marvel Comics,-,neutral,95.0
20,2016.0,Marvel,Doctor Strange,Doctor Strange,2016.0,7.5/10,"485,846","$232,630,718",225.0,Male,grey,Human,Black,188.0,Marvel Comics,-,good,81.0
21,2016.0,Marvel,Wolverine,Logan,2017.0,8.1/10,"545,270","$226,276,809",719.0,Male,blue,Mutant,Black,160.0,Marvel Comics,-,good,135.0
22,2017.0,Marvel,Spider-Man,Spider-Man: Homecoming,2017.0,7.5/10,"398,278","$334,166,825",622.0,Male,hazel,Human,Brown,178.0,Marvel Comics,-,good,74.0
23,2017.0,DC,Wonder Woman,Wonder Woman,2017.0,7.5/10,"472,212","$412,400,625",722.0,Female,blue,Amazon,Black,183.0,DC Comics,-,good,74.0
24,2018.0,Marvel,Thor,Thor: Ragnarok,2017.0,7.9/10,"439,344","$314,971,245",661.0,Male,blue,Asgardian,Blond,198.0,Marvel Comics,-,good,288.0
25,2018.0,Marvel,Black Panther,Black Panther,2018.0,7.3/10,"486,841","$501,105,037",105.0,Male,brown,Human,Black,183.0,Marvel Comics,-,good,90.0
26,2018.0,Marvel,Ant-Man,Ant-Man and the Wasp,2018.0,7.1/10,"204,018","$374,133,563",29.0,Male,blue,Human,Blond,211.0,Marvel Comics,-,good,122.0
27,2018.0,DC,Aquaman,Aquaman,2018.0,7.2/10,"208,461","$335,061,807",37.0,Male,blue,Atlantean,Blond,185.0,DC Comics,-,good,146.0
28,2018.0,Marvel,Deadpool,Deadpool 2,2018.0,7.8/10,"359,880","$324,591,735",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2018.0,Marvel,Venom,Venom,2018.0,6.8/10,"245,745","$213,515,506",689.0,Male,blue,Symbiote,Strawberry Blond,191.0,Marvel Comics,-,bad,117.0
30,2019.0,Marvel,Captain Marvel,Captain Marvel,2019.0,6.9/10,"80,858","$374,133,563",155.0,Female,blue,Human-Kree,Blond,180.0,Marvel Comics,-,good,74.0
31,NaN,NaN,NaN,Ghost Rider: Spirit of Vengeance,2011.0,4.3/10,"102,335","$51,774,002",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
del merge['Date_Released_y']
del merge['Publisher_y']
del merge['Unnamed: 0']
merge.rename(columns={'Date_Released_x':'Date_Released','Publisher_x':'Publisher'}, inplace= True)
merge.head()

,Date_Released,Publisher,Superhero_Name,Movie_Title,Rating,IMDB_Votes,Box_Office_Sales,Gender,Eye color,Race,Hair color,Height,Skin color,Alignment,Weight
0,2008.0,DC,Batman,The Dark Knight,9.0/10,"2,029,721","$533,316,061",Male,blue,Human,black,188.0,-,good,95.0
1,2008.0,DC,Punisher,Punisher: War Zone,6.0/10,"56,730","$7,948,159",Male,blue,Human,Black,183.0,-,good,90.0
2,2008.0,Marvel,Iron Man,Iron Man,7.9/10,"842,429","$318,298,180",Male,blue,Human,Black,198.0,-,good,191.0
3,2008.0,Marvel,Hulk,The Incredible Hulk,6.8/10,"388,957","$134,518,390",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009.0,Marvel,Wolverine,X-Men Origins: Wolverine,6.6/10,"429,641","$179,737,340",Male,blue,Mutant,Black,160.0,-,good,135.0

In [11]:
Inflation_df = pd.read_csv('./Datasets/Inflation_adjustments.csv') 
Inflation_df.head()

   Year  Rate
0  2008  17.4
1  2009  17.8
2  2010  15.9
3  2011  12.4
4  2012  10.1

In [12]:
merge['Box_Office_Sales'] = merge['Box_Office_Sales'].str.replace('$','')
merge['Box_Office_Sales'] = merge['Box_Office_Sales'].str.replace(',','')
merge['Box_Office_Sales'] = merge['Box_Office_Sales'].str.replace(' ','')
merge['Box_Office_Sales'] = merge['Box_Office_Sales'].astype(int)
merge.head()

ValueError: cannot convert float NaN to integer

In [ ]:
merge['Rating'] = merge['Rating'].str.replace('/10','')
merge['Rating'] = merge['Rating'].str.replace(' ','')
merge['Rating'] = merge['Rating'].astype(float)
merge['Rating'] = merge['Rating'] * 10
merge.head()

In [ ]:
rate = []
for index , value in enumerate(merge['Date_Released']):
    number = Inflation_df[Inflation_df['Year'] == value]['Rate'].values[0]
    #print(number)
    rate.append(number)
merge['rate'] = rate
merge.head()

In [ ]:
merge['Inflation_Sales'] = ((merge['rate'] /100) + 1)* merge['Box_Office_Sales']
merge.head()

In [ ]:
# save file
merge.to_csv('./Datasets/Merged_Superhero.csv')